<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/reach-article.xsl" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">

	<!-- ouc:properties -->
		<title>Foundation: Alumni Profile</title>
	<!-- /ouc:properties -->

	<config>
		<!-- ouc:properties -->
			<parameter name="article_subhead" type="text" group="Everyone" prompt="Please enter a subhead for the article. This appears below the main title." alt="The subhead should be provided by the original article author." section="Article Data">
				For Christian Childs, even the sky is not the limit.
			</parameter>

			<parameter name="article_byline" type="text" group="Everyone" prompt="The full name of the article author." alt="Please double-check your spelling; this appears on the page.">
				Renee Mitcham
			</parameter>

			<parameter name="article_header_image" type="filechooser" group="Everyone" prompt="Which image should be used for the magazine cover?" alt="Specify the image you wish to include." section="Article Header Image">
				http://www.tccd.edu/images/magazine/volume-01/issue-02/header/22-alumni.jpg
			</parameter>

			<parameter name="article_header_image_descr" type="text" group="Everyone" prompt="Please describe the chosen image in a few words." alt="This is the accessibility description and it MUST be included.">
				Christian Childs
			</parameter>

			<parameter name="volume_name" type="text" group="Everyone" prompt="What volume is this article in?" alt="Specify as Volume X, where X is the volume number." section="Volume Information">
				Volume 1
			</parameter>

			<parameter name="volume_semester" type="text" group="Everyone" prompt="What semester was this volume released?" alt="Specify the semester that this volume was published, for example Winter 2013">
				Winter 2014
			</parameter>
		<!-- /ouc:properties -->
	</config>

	<!-- ouc:properties -->
		<metadata>
			<meta name="Description" content="A downturn in the economy and the glass ceiling at his job convinced Christian Childs to pursue his degree." section="Metadata" />
			<meta name="Author" content="Renee Mitcham" />
			<meta name="Keywords" content="TCC, Reach, Magazine" />
		</metadata>
	<!-- /ouc:properties -->

	<content>

		<!-- ouc:div label="article-contents" group="Everyone" button="817" break="break" -->
		<!-- ouc:editor csspath="/_resources/ou/editor/mag-article.css" width="1020" / -->
			<p>Eager to move from his small South Carolina town and in a different direction than his post-military job in police work, Christian Childs followed a lead and quickly landed an entry-level position in aviation operations in the Dallas area in 1999. Having spent years in the cockpit with his father, a hobby pilot, and having gained even more experience around aircraft in the Marines, the aviation industry seemed a natural fit. During the next few years, Childs moved steadily through the operations ranks with Alliance Aviation Services.</p>

			<p>Childs began with Alliance as an operations specialist in 2001, handling aircraft maintenance such as fueling, parking and servicing. He moved up to lead operations specialist a few years later. But his pursuit of a college degree &mdash; along with his fundamental drive for success &mdash; helped Childs’ career ascend to his current role as airport manager at Fort Worth Alliance Airport.</p>

			<blockquote>
				<p>&ldquo;With the downturn in the economy, and the fact that I basically hit the glass ceiling in my job, I knew I needed my degree,&rdquo;</p>
				<p class="attribution">said Christian Childs</p>
			</blockquote>

			<p>When the recession hit in 2008, Childs became serious about returning to college. Childs chose Tarrant County College to start the process. &ldquo;The TCC system offered so many benefits &mdash; lots of course options online, affordability and accommodating advisors who helped me navigate my core courses while working full time,&rdquo; he said.</p>

			<p>Tom Harris, president of Alliance Air and Aviation Services and whose career with the Hillwood organization spans more than 24 years, praised Childs’ tenacity and work ethic. &ldquo;Christian is a great example of a young man who has worked extremely hard to find a way to carry a six- to 12-hour class load to earn a degree while working full time. It’s quite an accomplishment and somewhat painful.&rdquo;</p>

			<p>Harris added, &ldquo;Christian began in operations and is now our airport manager, which is a huge responsibility with an impressive spectrum of duties. He’s in charge of managing the airport’s dayto- day operations, ensuring the proper maintenance and safety of aircraft at Alliance and compliance with many federal regulations, working as liaison with the FAA and area residents on noise and other topics, meeting with the City of Fort Worth and helping with the logistics of the annual Alliance Air Show, to mention a few.&rdquo;</p>

			<p>With a strong foundation at TCC, Childs is on target to earn his Bachelor of Science in Applied Science in Business Administration, with a minor in Management from Tarleton State University.</p>
		<!-- /ouc:div -->
	</content>

	<sidebar>

		<!-- ouc:div label="sidebar-contents" group="Everyone" button="814" break="break" -->
		<!-- ouc:editor csspath="/_resources/ou/editor/mag-article-sidebar.css" width="1020" / -->

			<h3>Heading</h3>

			<p>Sidebar contents go here.</p>

			<p>Use a level 3 (&lt;h3&gt;) heading as the main heading, and use level 4 or 5 as sub- or sub-subheadings, as needed.</p>

			<p>Use an &lt;hr&gt; to add a line divider.</p>

			<p>Use the <strong>Mag-Sidebar-Divider</strong> snippet to make a second sidebar.</p>

			<p>To place an image in the sidebar, simply use a normal image element; the <em>figure snippet</em> is not needed.</p>

		<!-- /ouc:div -->

	</sidebar>
</document>

