<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/reach-article.xsl" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">

	<!-- ouc:properties -->
		<title>A Sneak Peek Inside Early College High School</title>
	<!-- /ouc:properties -->

	<config>
		<!-- ouc:properties -->
			<parameter name="article_subhead" type="text" group="Everyone" prompt="Please enter a subhead for the article. This appears below the main title." alt="The subhead should be provided by the original article author." section="Article Data">
				With Juarel and Crystal
			</parameter>

			<parameter name="article_byline" type="text" group="Everyone" prompt="The full name of the article author." alt="Please double-check your spelling; this appears on the page."></parameter>

			<parameter name="article_header_image" type="filechooser" group="Everyone" prompt="Which image should be used for the magazine cover?" alt="Specify the image you wish to include." section="Article Header Image">
				http://www.tccd.edu/images/magazine/volume-01/issue-02/header/9-echs.jpg
			</parameter>

			<parameter name="article_header_image_descr" type="text" group="Everyone" prompt="Please describe the chosen image in a few words." alt="This is the accessibility description and it MUST be included.">
				Two young teen students, male and female, smile for the camera
			</parameter>

			<parameter name="volume_name" type="text" group="Everyone" prompt="What volume is this article in?" alt="Specify as Volume X, where X is the volume number." section="Volume Information">
				Volume 1
			</parameter>

			<parameter name="volume_semester" type="text" group="Everyone" prompt="What semester was this volume released?" alt="Specify the semester that this volume was published, for example Winter 2013">
				Winter 2014
			</parameter>
		<!-- /ouc:properties -->
	</config>

	<!-- ouc:properties -->
		<metadata>
			<meta name="Description" content="Join students Juarel and Crystal during a typical school day at TCC Southeast/AISD Collegiate High School." section="Metadata" />
			<meta name="Author" content="" />
			<meta name="Keywords" content="TCC, Reach, Magazine" />
		</metadata>
	<!-- /ouc:properties -->

	<content>

		<!-- ouc:div label="article-contents" group="Everyone" button="817" break="break" -->
		<!-- ouc:editor csspath="/_resources/ou/editor/mag-article.css" width="1020" / -->
			<p>As part of their commitment to foster a college-going culture, TCC Southeast Campus and Arlington ISD joined together at a ribbon-cutting ceremony on August 22, 2014 to open TCC’s new Tarrant County College Southeast/Arlington ISD Collegiate High School. The 30,000-square-foot Early College High School (ECHS) includes nine classrooms, two science laboratories and one computer laboratory. It also includes a learning resource center, a 400-seat cafeteria/ auditorium, administrative offices and 250 parking spaces.</p>

			<p>Each fall a maximum of 125 freshmen will be enrolled until the capacity of 500 students is reached in 2018, when this inaugural class of students who meet requirements will graduate with both their high school diplomas and associate degrees.</p>

		<!-- /ouc:div -->
	</content>

	<sidebar>

		<!-- ouc:div label="sidebar-contents" group="Everyone" button="814" break="break" -->
		<!-- ouc:editor csspath="/_resources/ou/editor/mag-article-sidebar.css" width="1020" / -->

			<h3>Heading</h3>

			<p>Sidebar contents go here.</p>

			<p>Use a level 3 (&lt;h3&gt;) heading as the main heading, and use level 4 or 5 as sub- or sub-subheadings, as needed.</p>

			<p>Use an &lt;hr&gt; to add a line divider.</p>

			<p>Use the <strong>Mag-Sidebar-Divider</strong> snippet to make a second sidebar.</p>

			<p>To place an image in the sidebar, simply use a normal image element; the <em>figure snippet</em> is not needed.</p>

		<!-- /ouc:div -->

	</sidebar>
</document>

