<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/reach-toc-inc.xsl" extension="inc"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
	
	<config>
		<!-- ouc:properties -->
			<parameter name="volume_name" type="text" group="Everyone" prompt="What volume is this table of contents in?" alt="Specify as Volume X, where X is the volume number." section="Volume Information">Volume 1</parameter>
		<!-- /ouc:properties -->
	</config>

	<articles-toc>
			<li><a href="/magazine/volume-01/chancellors-corner">Chancellor's Corner</a></li>
			<li><a href="/magazine/volume-01/bright-and-shiny">Bright &amp; Shiny</a></li>
			<li><a href="/magazine/volume-01/telling-our-story">Telling Our Story</a></li>			
			<li><a href="/magazine/volume-01/look-whos-here">Look Who's Here</a></li>
			<li class="featured"><a href="/magazine/volume-01/are-we-there-yet">Are We There Yet?</a></li>
			<li><a href="/magazine/volume-01/tccs-own-champ">TCC's Own Champ</a></li>
			<li><a href="/magazine/volume-01/join-the-conversation">Social Media: Join the Conversation</a></li>
			<li><a href="/magazine/volume-01/instagram-contest">Instagram Contest</a></li>
			<li><a href="/magazine/volume-01/path-not-easy-part-1">The Path Isn't Always Easy Part 1</a></li>
			<li><a href="/magazine/volume-01/path-not-easy-part-2">The Path Isn't Always Easy Part 2</a></li>
			<li><a href="/magazine/volume-01/student-scholarship-awards">Student Scholarship Awards</a></li>
			<li><a href="/magazine/volume-01/everyone-is-college-material">Everyone is College Material</a></li>
			<li><a href="/magazine/volume-01/modern-day-fairy-tales">Modern-Day Fairy Tales</a></li>
			<li><a href="/magazine/volume-01/helping-students-make-the-jump">Helping Students Make the Jump</a></li>
			<li><a href="/magazine/volume-01/achievement-accelerated">Achievement, Accelerated!</a></li>
			<li><a href="/magazine/volume-01/power-in-partnerships">There's Power in Partnerships</a></li>
			<li><a href="/magazine/volume-01/brags">Faculty &amp; Staff Brags</a></li>
			<li><a href="/magazine/volume-01/alumni-profile">Alumni Profile</a></li>
			<li><a href="/magazine/volume-01/foundation-donor">Foundation Donor</a></li>
			<li><a href="/magazine/volume-01/graduation">Graduation</a></li>
			<li><a href="/magazine/volume-01/graduation-cap-contest">Graduation Cap Contest</a></li>
			<li><a href="/magazine/volume-01/success-by-the-numbers">Success by the Numbers</a></li>
			<li><a href="/magazine/volume-01/foundation">Foundation</a></li>
			<li><a href="/magazine/volume-01/story-behind-the-stories">The Story Behind the Stories</a></li>
	</articles-toc>
</document>
