<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/reach-toc-inc.xsl" extension="inc"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">

	<config>
		<!-- ouc:properties -->
			<parameter name="volume_name" type="text" group="Everyone" prompt="What volume is this table of contents in?" alt="Specify as Volume X, where X is the volume number." section="Volume Information">Volume 1, Issue 2</parameter>
		<!-- /ouc:properties -->
	</config>

	<articles-toc>
			<li><a href="/magazine/volume-01/issue-02/chancellor">Chancellor&rsquo;s Corner</a></li>
			<li><a href="/magazine/volume-01/issue-02/facilities">Bright &amp; Shiny</a></li>
			<li><a href="/magazine/volume-01/issue-02/ceatl">Elevating Key Programs</a></li>
			<li><a href="/magazine/volume-01/issue-02/goben">Welcome Aboard</a></li>
			<li><a href="/magazine/volume-01/issue-02/e-learning">Online, Anytime!</a></li>
			<li><a href="/magazine/volume-01/issue-02/plus-50">Finding Their Way</a></li>
			<li><a href="/magazine/volume-01/issue-02/common-course">Creating Campus Consistency</a></li>
			<li><a href="/magazine/volume-01/issue-02/diversity">Diversity and Inclusion</a></li>
			<li><a href="/magazine/volume-01/issue-02/echs">A Sneak Peak Inside Early College High School</a></li>
			<li class="featured"><a href="/magazine/volume-01/issue-02/study-abroad">Your Adventure Awaits</a></li>
			<li><a href="/magazine/volume-01/issue-02/succes-1">The Path Isn&rsquo;t Always Easy (Part One)</a></li>
			<li><a href="/magazine/volume-01/issue-02/success-2">The Path Isn&rsquo;t Always Easy (Part Two)</a></li>
			<li><a href="/magazine/volume-01/issue-02/international">What Our International Students Say About TCC</a></li>
			<li><a href="/magazine/volume-01/issue-02/social">Social Media: Join the Conversation</a></li>
			<li><a href="/magazine/volume-01/issue-02/instagram">Social Media: TCC at Night</a></li>
			<li><a href="/magazine/volume-01/issue-02/recipe">Italy-Inspired Cuisine</a></li>
			<li><a href="/magazine/volume-01/issue-02/memorials">Honoring the Fallen</a></li>
			<li><a href="/magazine/volume-01/issue-02/pluto">What&rsquo;s Up With Pluto?</a></li>
			<li><a href="/magazine/volume-01/issue-02/technology">Leveling the Playing Field</a></li>
			<li><a href="/magazine/volume-01/issue-02/cares">Creating a Culture That CAREs</a></li>
			<li><a href="/magazine/volume-01/issue-02/brags">Faculty &amp; Staff Brags</a></li>
			<li><a href="/magazine/volume-01/issue-02/alumni">Foundation: Alumni Profile</a></li>
			<li><a href="/magazine/volume-01/issue-02/donor">Foundation: Donor Story</a></li>
			<li><a href="/magazine/volume-01/issue-02/foundation">Foundation: Looking Back &mdash; Moving Forward</a></li>
			<li><a href="/magazine/volume-01/issue-02/board">Foundation: New Board Members and Officers</a></li>
			<li><a href="/magazine/volume-01/issue-02/tributes">Foundation: Tribute Gifts</a></li>
	</articles-toc>
</document>
