<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/reach-article.xsl" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd">
<document xmlns:ouc="http://omniupdate.com/XSL/Variables">

	<!-- ouc:properties -->
		<title>Foundation: Donor Story</title>
	<!-- /ouc:properties -->

	<config>
		<!-- ouc:properties -->
			<parameter name="article_subhead" type="text" group="Everyone" prompt="Please enter a subhead for the article. This appears below the main title." alt="The subhead should be provided by the original article author." section="Article Data">Leaving Our Footprints</parameter>

			<parameter name="article_byline" type="text" group="Everyone" prompt="The full name of the article author." alt="Please double-check your spelling; this appears on the page.">Renee Mitcham</parameter>

			<parameter name="article_header_image" type="filechooser" group="Everyone" prompt="Which image should be used for the magazine cover?" alt="Specify the image you wish to include." section="Article Header Image">
				http://www.tccd.edu/images/magazine/volume-01/issue-02/header/23-donor.jpg
			</parameter>

			<parameter name="article_header_image_descr" type="text" group="Everyone" prompt="Please describe the chosen image in a few words." alt="This is the accessibility description and it MUST be included.">
				Jacquelyn Minor
			</parameter>

			<parameter name="volume_name" type="text" group="Everyone" prompt="What volume is this article in?" alt="Specify as Volume X, where X is the volume number." section="Volume Information">
				Volume 1
			</parameter>

			<parameter name="volume_semester" type="text" group="Everyone" prompt="What semester was this volume released?" alt="Specify the semester that this volume was published, for example Winter 2013">
				Winter 2014
			</parameter>
		<!-- /ouc:properties -->
	</config>

	<!-- ouc:properties -->
		<metadata>
			<meta name="Description" content="Working with the TCC Foundation, Jacquelyn Minor developed a scholarship that bears both her name and that of her children." section="Metadata" />
			<meta name="Author" content="Renee Mitcham" />
			<meta name="Keywords" content="TCC, Reach, Magazine" />
		</metadata>
	<!-- /ouc:properties -->

	<content>

		<!-- ouc:div label="article-contents" group="Everyone" button="817" break="break" -->
		<!-- ouc:editor csspath="/_resources/ou/editor/mag-article.css" width="1020" / -->

		<p>Poised and smiling, Jacquelyn Minor, associate professor of reading at Tarrant County College’s Southeast campus, warmly describes some strong TCC professors whose passion for teaching and learning inspired her. &ldquo;I can’t say enough about the powerful influence that professors Carol Jackson, Sylvia Vardell and Karen Nelson had on my decision to become an educator. Their excitement about learning was contagious! As I sat in their classes, I saw myself one day standing where they stood, and began to define my own dreams.&rdquo; Now, Minor works to help others achieve theirs.</p>

		<p>As the donor of the Minor-Warmsley &ldquo;Achieving My Dream&rdquo; Scholarship, Minor has a personal history of overcoming limitations. &ldquo;My parents told me college wasn’t affordable without a scholarship, so I knew early on I had to work hard to reach my academic goals.&rdquo; Her efforts paid off when she became the first black female awarded a presidential scholarship at Austin College in Sherman, Texas.</p>

		<p>Continuing to set the bar high, Minor pursued her doctoral degree while teaching reading courses full-time at TCC and teacher education courses part-time at the University of Texas at Arlington. Her life took a turn when she became a single working mother of three. &ldquo;Time was limited, debt was mounting and my children’s lives became more demanding. Earning my doctorate suddenly became very difficult.&rdquo; Minor took advantage of a renewable award for educators through Capella University and pushed forward to achieve her goal.</p>

		<p>These experiences fueled her desire to design a way for others – &ldquo;especially goal-oriented young women who find themselves suddenly juggling obstacles–to have a ‘leg up’ when options are slim,&rdquo; she said. Working with the TCC Foundation, Minor developed a scholarship that bears both her name and that of her children.</p>

		<blockquote>
			<p>&ldquo;It was important to also create a legacy for my children, where they are connected to our city, our community and to TCC. It’s a strong lesson about investing in others,&rdquo;</p>
			<p class="attribution">Jacquelyn Minor</p>
		</blockquote>

		<p>Minor's children, ages 8, 12 and 14, contribute to the scholarship with their own money earned for good grades. Liz Sisk, donor relations officer for the Tarrant County College Foundation, said she admires the inclusion of Minor’s children in the process of establishing this valuable scholarship. &ldquo;What great life lessons her children are learning! This is a tremendous scholarship for so many reasons,&rdquo; Sisk said.</p>

		<p>Supported by relationships forged at TCC Southeast Campus, as well as valued encounters Districtwide, Minor praised the TCC philosophy. &ldquo;TCC continuously focuses on removing barriers to student success and creating an environment where students can attain their goals.&rdquo;</p>

		<p>&ldquo;I’ve witnessed many success stories at TCC: students overcoming multiple obstacles at once. Each story is about a real person, their challenges and their supporters.&rdquo; She added, &ldquo;Around 80 percent of TCC students receive financial assistance, so a scholarship fund was a logical choice.&rdquo; The Minor-Warmsley Scholarship awards $500 per semester upon meeting and maintaining certain criteria, including enrollment with the intent to pursue an associate degree or certificate of completion, carrying a full course load and maintaining a 3.3 GPA.</p>

		<!-- /ouc:div -->
	</content>

	<sidebar>

		<!-- ouc:div label="sidebar-contents" group="Everyone" button="814" break="break" -->
		<!-- ouc:editor csspath="/_resources/ou/editor/mag-article-sidebar.css" width="1020" / -->

			<h3>Heading</h3>

			<p>Sidebar contents go here.</p>

			<p>Use a level 3 (&lt;h3&gt;) heading as the main heading, and use level 4 or 5 as sub- or sub-subheadings, as needed.</p>

			<p>Use an &lt;hr&gt; to add a line divider.</p>

			<p>Use the <strong>Mag-Sidebar-Divider</strong> snippet to make a second sidebar.</p>

			<p>To place an image in the sidebar, simply use a normal image element; the <em>figure snippet</em> is not needed.</p>

		<!-- /ouc:div -->

	</sidebar>
</document>

