@import url('/_resources/css/tcc-reach.css');

html {
	background-color: white;
}

body {
	margin: 100px 60px;

	font-family: 'schola', serif;
	line-height: 1.4;
}

body:before {
	content: 'Add a new list item to the existing list, or edit entries. Be careful not to start another list accidentally in the OU editor.';
	display: block;
	font-family: 'schola-bold', serif;
	font-size: 1.2em;
	color: #e8e8e8;
	margin-bottom: 2em;
}

li {
	margin: 1em 0;
	display: block;
}

li img {
	max-width: 300px;
	display: block;
	border: 1px solid transparent;
	vertical-align: top;
} 

li h2 {
	margin: 8px 0 8px 0;
	line-height: 1.2;
	font-size: 1.6em;
	padding: 0 20px;
}

li p {
	padding: 0 20px;
	margin-top: 0;
	font-size: 1.0em;
	line-height: 1.2;
}